 *{
	 margin:0;
	 padding:0;
 }
 body{
	 font-family: Arial,sans-serif;
	 font-size:12px;
 }
 li{
	 list-style-type:none;	 
 }
 header{
	 height:40px;
 }
 .country h2{
	font-size: 20px;
    margin-left: 15px;
	font-size: 25px;
    color: #1f384d;
 }
 .current-weather{
	 text-align: center;
 }
 .current-weather,.forecast-weather{
	margin-top:10px;
    border: 1px solid #c8c8c8;
    padding: 10px 0 0 0;
    background: #f7f6f5;
    box-shadow: inset 7px 0 9px -11px #000;
 }
 .current-weather h3,.forecast-weather-container h3{
	color: #f05514;
	text-transform:uppercase;	
	padding:10px;
	font-size:14px;
	font-weight:bold;
	margin:0;
 }
 .current-weather .weather-img{
	  vertical-align: bottom;
 }
 .forecast-weather-container h3{
	 font-size:24px;
margin-left:10px;
	 text-transform:capitalize;
 }
 .current-weather .city{
	 font-size:25px;
	 text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
	 display:block;
 }
 .current-weather .temp{
	 font-size:30px;	 
 }
 .current-weather .forecast-click{
	display: inline-block;    
    box-shadow: inset 0 10px 9px -12px #000;
    text-align: center;
    background: #3b4148;
	font-size:14px;	
    vertical-align: middle;
	padding:10px 0;
	width:100%;
	color:#c3c3c3;
    border-left: 1px solid #4f545b;
	cursor:pointer;
 }
 .current-weather .forecast-click:hover{
	 color:#fff;
	 color:#f05514;font-weight:bold;
 }
 .current-weather .city,.current-weather .temp,.current-weather li{
	 color:#1f384d;
	 padding:10px;
 }
 .current-weather ul{
	 font-size:14px;
	 margin:0;
 }
 .current-weather ul li span{
	 color: #f05514;
	 font-weight:bold;
 }
 .forecast-weather{
	 border-radius:5px;
	 line-height:1.5em;
	 font-size:16px;
 }
 .forecast-weather .day span{
	 display:block;
 }
 .forecast-weather .desc li{
	 margin-bottom:5px;
	 color:#1f384d;
 }
 .forecast-weather .today{
	 margin-top:20px;
 }
 span.weather-desc {
    margin-left: 30px;
}
.back{
	margin:15px;
}