 <!Doctype html>
 <html>
	<head>		
		<script type='text/javascript' src='js/lib/angular.min.js'></script>
		<script type='text/javascript' src='js/script.js'></script>
		<link rel='stylesheet' href="css/bootstrap/css/bootstrap.min.css" />
		<link rel='stylesheet' href='css/styles.css' />
	</head>
	<body ng-app='weatherApp'>
		<header></header>
		<div class='container'>
			<div class='country' ng-controller='cityWeatherController'>
				
					<!-- Displaying weather report of 5 cities starts here-->
					<h2 ng-hide='forecastShow'>Weather report of seleted cities</h2>
					<div ng-repeat='city in cities' class='col-md-4 col-sm-6 col-xs-12' ng-hide='forecastShow'>
						<div class='current-weather'>
							<h3>Current Weather in</h3>
							 <span class='city' title='{{city.name}}' id={{city.id}}>{{city.name}}</span>
							 <span class='temp'>{{city.temparature | number:0}} °C</span>
							 <span><img ng-src='{{city.img}}' class='weather-img' title='{{city.desc}}' alt='{{city.desc}}' /></span>
							 <ul>						 
							 <li>Wind Speed : <span>{{city.wind}} m/s</span></li>
							 </ul>
							<div class='forecast-click' ng-click='forecast("fc",city.id)'><span>Click for 5 Days Forecast</span></div>	
						</div>
					</div>
					<!-- Displaying weather report of 5 cities ends here-->
					
					<!-- Displaying weather report of 5 day forecast of selected city stats here -->
					<div ng-show='forecastShow' class='forecast-weather-container'>
					<h3>5 Day weather forecast </h3>
					<div ng-repeat='record in fcData' class='col-md-12'>
						<div class='clearfix forecast-weather col-md-12'>
							<div class='day col-md-2 col-sm-3'>
								<span>{{record.date | date :"EEE MMMM d"}}</span>
								<span ng-if='record.isToday' class='today'> Today</span>
							</div>
							<div class='col-md-1 col-sm-2'>
								<img ng-src='{{record.img}}' title='{{record.desc}}' alt='{{record.desc}}' />
							</div>
							<div class='desc col-md-9 col-sm-7'>
								<ul>
								<li><span class='min-temp label label-success'>{{record.temp_min | number:0}} °C</span> 
								<span class='max-temp label label-primary'>{{record.temp_max | number:2}} °C</span> 
								<span class='weather-desc'>{{record.desc}}</span></li>
								<li>Wind : <span>{{record.wind}} m/s</span></li>
								<li>clouds : <span>{{record.clouds}}%</span> , <span>{{record.pressure}} hpa</span></li>
								</ul>								 
							</div>
							<!--<div class='col-md-3'>
								<button ng-show='backShow' ng-click='' class='btn btn-primary'>View in Graph</button>
							</div>-->
						</div>						
					</div>	
					</div>
					<!-- Displaying weather report of 5 day forecast of selected city ends here -->
					<!-- back button to go back to cities -->
					<button ng-show='backShow' ng-click='backToCities()' class='back btn btn-primary'>Back To Cities</button>
			</div>				
		</div>
	</body>
 </html>